#custom-footer {
  a {
    color: map-get($color, black);
  }

  a:hover {
    color: map-get($color, main);
  }

  ul.footer-link-list {
    li {
      padding-top: 10px;
    }
  }

  ul.footer-icons {
    li {
      width: 2.6em;
      height: 2.6em;
      line-height: 2.6em;
      background-color: map-get($color, main);
    }

    li:hover {
      background-color: map-get($color, main);
      transition: 0.5s;

      i {
        color: map-get($color, black);
        transition: 0.5s;
      }
    }
  }

  .border-light {
    border-color: map-get($color, black) !important;
  }
}
